
  .red-text {
    color:red;
  }
  .cat-img {
    width: 60px;
    border-radius: 80%;
  }
  h2 {
    font-family: Lobster, Monospace;
  }

  p {
    font-size: 16px;
    font-family: Monospace;
  }

  .thick-green-border {
    border-color: green;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
  }

  .smaller-image {
    color:#000;
  }

  .tiger-image{
    border-radius: 50%;
  }


.nav{
  height:50px;
  margin-top:20px;
  margin-left:10px;
}
.nav ul{
  list-style:none;
  height:50px;
  border-bottom:10px solid #FF6600;
  padding-left:30px;
}
.nav li{
  float:left;
  margin-top:10px;
}
.nav li a{
   background-color:#EEEEEE;
   text-decoration:none;
   color:#000000;
   display:block;
   width:90px;
   height:40px;
   line-height:40px;
   text-align:center;
   margin-left:1px;
   /*设置圆角属性,IE6,7,8不支持*/
   border-top-left-radius:15px;
   border-top-right-radius:15px;
}
.nav li a:hover,.nav li a.on{
   background-color:#FF6600;
   color:#FFFFFF;
}